@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

@font-face {
    font-family: 'Alice', serif;
    src: local(--fonte-destaque);
    font-weight: normal;
}

@font-face {
    font-family: 'typo';
    src: url('Typo Grotesk Demo.otf') format('.otf');
    font-weight: normal;
    font-style: normal;
}

:root{
    --cor0: #CBAA74;
    --cor1: #C6A042;
    --cor2: #BF212E;
    --cor3: #590A10;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: serif;
    --fonte-destaque: 'Alice', serif;
    --fonte-typo: 'typo', serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after{
    content: '\00A0\1F517';
}

header{
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor1));
    min-height: 50px;
    text-align: center;
}

header > h1{
    color: #590A10;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 2.2em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.350);
}

main{
    min-width:300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.410);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

article{
    margin-top: 3%;
}

table#laco{
    border-collapse: collapse;
    max-width: 100%;
}

table td{
    max-width: 100%;
    padding-inline: 50px;
    text-align: center;
}

main h1{
    color: var(--cor5);
    font-family: var(--fonte-typo);
    background-image: linear-gradient(to right, var(--cor0), transparent);
    font-weight: normal;
    font-size: 1.6em;
    text-indent: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
}

main h1#escolha{
    color: var(--cor3);
}

main h2{
    font-family: var(--fonte-typo);
    color: var(--cor5);
    margin-bottom: 10px;
    font-size: 1.4em;
    font-weight: normal;
    text-shadow: 2px 2px 0px hsla(0, 0%, 0%, 0.100);
}

main h3{
    font-family: var(--fonte-typo);
    color: var(--cor5);
    margin-bottom: 10px;
    font-size: 1.3em;
    font-weight: normal;
    text-shadow: 2px 2px 0px hsla(0, 0%, 0%, 0.100);
}

main h3.verde{
    color: var(--cor5);
}

main h3.vermelho{
    color: var(--cor3);
}

main p{
    margin: 15px 0px;
    text-align: justify;
    line-height: 1.25em;
    font-family: 'typo', serif;
}

main article picture > img.sacola {
    max-width: 32%;
}

div#cookie{
    background-color: var(--cor1);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.310);
    position: static;
    max-height: 50%;
}

article#introducao{
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
}

article#introducao > div{
    padding: 15%;
}

article#introducao > picture{
    padding: 2%;
}

td#noel{
    font-family: var(--fonte-destaque);
    color: var(--cor5);
    text-shadow: 2px 2px 0px hsla(0, 0%, 0%, 0.100);
}

main strong{
    color: var(--cor5);
    font-weight: bold;
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor4);
    transition-duration: 0.3s;
}

main img{
    width: 100%;
    max-width: 750px;
    min-width: 150px;
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

div.imagens{
    background-color: var(--cor1);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.410);
    position: static;
    max-height: 50%;
}

div.imagens img{
    max-width: 32%;
}

div.caixa img{
    max-width: 48%;
}

div.caixa{
    background-color: var(--cor1);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.410);
    position: static;
    max-height: 50%;
}

p.paragrafo{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.410);
}

footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a{
    color: var(--cor1);
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover{
    background-color: var(--cor4);
    color: var(--cor1);
    text-decoration: underline;
    transition-duration: 0.3s;
}